In [ ]:
# install pandas-gbq package that would allow to push a dataframe into BigQuery table

In [ ]:
pip install pandas-gbq

# BAN 5753, Cloud Analytics Exercise (10 Points)
## You must do it alone (it is not a group activity)

- Set up Google Account, Billing Account, Project, AI Platform Notebook, and BigQuery Dataset
- Load last 2000 days of historical Ethereum prices in USD into your BigQuery Dataset as a new table, add human readable price snapshot datetime field into the table.
- Watch the video for clues – answer should be a word document or PPT with screenshots of all deliverables. Also, professional commentary about steps taken is expected.

In [1]:
# import all relevant packages 
import pandas as pd
from pandas.io import gbq
import requests
import json

The bare token was in the script. To improve security, I ask for user inputs using the a base-level password specifc input method from the getpass api. Inputs were also added to for token an limit.

In [8]:
# call cryptocompare historical stats API
from getpass import getpass
token_sym = input("Token Symbol:")

def get_data():    
    
    # added for a bit more security
    user_apiKey = getpass("Enter api key:")
    
    limit = input("Record Limit:")
    
    crypto_api_url = "https://min-api.cryptocompare.com/data/v2/histoday"
    payload = {'fsym': 'ETH', 'tsym': 'USD','limit': limit, 'api_key': user_apiKey}
    request_data = requests.get(crypto_api_url,params=payload)
    
    return request_data.json()['Data']['Data']

CryptoAPIDataResponse = get_data()

Token Symbol: ETH
Enter api key: ································································
Record Limit: 2000

## Transformations

In [3]:
#convert to JSON
CryptoAPIDataResponseJSON = json.dumps(CryptoAPIDataResponse)

In [4]:
#convert to pandas dataframe to prepare for insertion into BigQuery
datalistDF = pd.read_json(CryptoAPIDataResponseJSON)
datalistDF.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1490918400,52.22,46.83,51.91,754720.51,37271970.09,49.91,direct,
1,1491004800,52.70,47.70,49.57,911358.56,45810015.46,50.27,multiply,BTC
2,1491091200,51.93,40.09,50.27,1402855.51,67229687.11,47.92,multiply,BTC
3,1491177600,50.44,42.39,47.92,1993261.33,87492551.67,43.89,multiply,BTC
4,1491264000,46.33,40.52,43.89,1768504.23,78366125.15,44.31,multiply,BTC

In [5]:
# Doing conversion time conversion here
from datetime import datetime

dateConvert = pd.to_datetime(datalistDF['time'],unit='s')
datalistDF["time_python"] = dateConvert
datalistDF.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,time_python
0,1490918400,52.22,46.83,51.91,754720.51,37271970.09,49.91,direct,,2017-03-31
1,1491004800,52.70,47.70,49.57,911358.56,45810015.46,50.27,multiply,BTC,2017-04-01
2,1491091200,51.93,40.09,50.27,1402855.51,67229687.11,47.92,multiply,BTC,2017-04-02
3,1491177600,50.44,42.39,47.92,1993261.33,87492551.67,43.89,multiply,BTC,2017-04-03
4,1491264000,46.33,40.52,43.89,1768504.23,78366125.15,44.31,multiply,BTC,2017-04-04

## Exporting to BigQuery
In order to clearly identiy the table contents and the avoid renaming the table manually, text format options were added . They use the token symbol input to the get_data function and below the date range of the subset is added to parameters.

In [6]:
# creating a table identifier relative to data subset
minDate = datalistDF.time_python.min().strftime("%Y%m%d")
maxDate = datalistDF.time_python.max().strftime("%Y%m%d")

In [10]:
# create new table in BigQuery with the output
# SampleDataset will need to be created in BigQuery before running this command
tableName = 'SampleDataset.{_token}_HIST_{_minDate}_{_maxDate}'.format(_token= token_sym, _minDate = minDate, _maxDate = maxDate)

datalistDF.to_gbq(destination_table = tableName,
                  project_id='glowing-net-362917',
                  if_exists='fail')

100%|██████████| 1/1 [00:00<00:00, 1804.78it/s]

In [11]:
tableName

'SampleDataset.ETH_HIST_20170331_20220921'

## Summary

The GIT repo listed in the slide deck was cloned and the demo notebook edited to meet the requirements of the assignement. The type conversion for time was handled using python instead of SQL. I could have created a new column with the converted column using the SQL statement but I wanted to try it a different way since it'd just be copy of the video. 

The sample dataset was then pushed to my GCP project, glowing-net-362917. It contains 2001 rows of data related to the ETH. 

<img src="_assets/PNG image.png" >